@import 'reset';

$primary-text-color: white;
$main-bg: url("../img/background.png");
$teal: #87c9cf;

@mixin image-template($width, $height, $background-color) {
    width: $width;
    height: $height;
    background-color: $background-color;
    float: left;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 5px;
}

/* Page Styles */
h1, h2, h3, h4, h5, h6, body {
	font-family: "lato" "Helvetica Neue" sans-serif;
	font-weight: 400;

}
h1 {
	font-size: 46px;
}
h2 { 
	font-size:30px;
	line-height: 42px;
}
h3 {
	font-size: 26px;
	line-height: 38px;
}
h4 {
	font-size: 24px;
	line-height: 36px;
}
p {
	font-size: 18px;
	font-weight: 200;
	line-height: 28px;
	font-weight: 200;
}
.bigpicture h1 {
	font-size: 60px;
	line-height: 84px;
	color: $primary-text-color;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.bigpicture h2 {
	font-size: 40px;
	line-height: 54px;
	color: $primary-text-color;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}










body, header, section, div, nav {
	position: relative;
}
body {
	background-color: #fff;
}

.container {
	width: 1300px;
	margin: 0 auto;
}
.secondary-container {
	width: 1200px;
	margin: 0 auto;
}

.logo img {
	
	margin-left: 150px;
	height: 167px;
	width: 200px;
	background: #808080;
	float: left;
	border-top: 4px solid #87c9cf;
}
.main-nav {
  text-align: left;
  width: 55%;
  height: 40px;
  float: right;
  margin-top: 50px;
  margin-right: 150px;
  padding-left: 10px;
	li, a {	
	  display: inline-block;
	  text-decoration: none;
	  list-style: none;
	  vertical-align: top;
	  margin-right: 10px;
	  color: $primary-text-color;
	  font-size: 20px;
	}
	li a:hover {
		border-bottom: 3px solid #87c9cf;
	}
	li:last-child {
  		margin-right: 50px;
	}

}

.main-header {
	min-height: 200px;
	top:0;
	background-image: $main-bg;
	width:100%;
}
	



ul {
	list-style: none;
}
/* Big Picture */

.bigpicture {
	clear: both;
	width:100%;
	min-height: 600px;
	margin:0 auto;
	background: url(http://www.clevedent.com/images/dental-office-design1.jpg) no-repeat;
	h1 {
	position: absolute;
	top: 300px;
	left: 50px;
	}
	h2 {
	position: absolute;
	top:370px;
	left: 50px;
	}
}


.first-button {
	margin-top: 50px;
}

/* Image icons */

.images {
	clear: both;
	
}


.image1 img{ 
	@include image-template(240px, 240px, #909090) 
}	
.image2 img {
	@include image-template(300px, 240px, #909090);
	margin-left: 120px;

}
.image3 img {
	@include image-template(240px, 240px, #909090);
	margin-left: 120px;
}
/* links under image */
.image-text {
	clear: both;
	
}

.text1 {
	width: 240px;
	min-height: 40px;
	float: left;
	margin-left: 150px;
	margin-top:20px;
	color: $primary-text-color;
	text-align: left;
}
.text2 {
	width: 300px;
	min-height: 40px;
	float: left;
	margin-top:20px;
	margin-left: 120px;
	color: $primary-text-color;
	text-align: left;
}
.text3 {
	width: 240px;
	min-height: 40px;
	float: left;
	margin-left: 120px;
	margin-top:20px;
	color: $primary-text-color;
	text-align: left;
}
/* Footer */
.main-footer {
	clear: both;
	width: 100%;
	min-height:20px;
	background-color: #87c9cf;
	margin-top: 20px;
	float: left;
	margin-bottom: 5px;
	padding: 25px;
	border: 1px solid black;

	p {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	}
}

/* Page 2 */
.row {
	clear:both;
	width: 100%;
	min-height: 250px;
	background: #87c9cf; /* Old browsers */
	background: -moz-linear-gradient(left,  #87c9cf 0%, #c8dc5b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#87c9cf), color-stop(100%,#c8dc5b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #87c9cf 0%,#c8dc5b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #87c9cf 0%,#c8dc5b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #87c9cf 0%,#c8dc5b 100%); /* IE10+ */
	background: linear-gradient(to right,  #87c9cf 0%,#c8dc5b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87c9cf', endColorstr='#c8dc5b',GradientType=1 ); /* IE6-9 */

	margin: 0 auto;
	background-color: #b8b8b8;
	
	

}

.row h1 {
	position: relative;
	top: 80px;
	color: $primary-text-color;
	font-size: 68px;
	text-align: center;
	font-weight: 200;
}
.image-links {
	float:right;
	min-height: 350px;

	a {
	color:$primary-text-color;
	}
}
 
.image-right {
	width: 240px;
	height: 240px;
	margin-right: 150px;
	margin-top:50px;
}
.service-image-right img {
	width: 280px;
	height: 240px;
	background: #909090;
	margin-right: 150px;
	margin-top:50px;
	border-radius: 16px;
}
.contact-image-right {
	width: 280px;
	height: 240px;
	margin-right: 150px;
	margin-top:50px;
	border-radius: 16px;
}
.button1, .button2, .button3 {
	width: 280px;
	min-height: 20px;
	background: #c8dc5b;
	margin-top: 20px;
	border-radius: 16px;
	padding: 5px;
	color: #2f2f32;
	text-align: center;
	
	
}

.info {
	float: left;
}
.info-headline {
	width: 520px;
	min-height: 116px;
	background: #87c9cf;
	margin-left: 200px;
	margin-top:50px;
	padding: 20px;
	border-radius: 16px;
}
.info-paragraph {
	width: 520px;
	min-height: 160px;
	background: #87c9cf;	
	margin-top:50px;
	margin-left: 200px;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 16px;

}

/* links */
a:visited {
	color: $primary-text-color;
}
.background-2 {
	background-color: #87c9cf;
	color: $primary-text-color;



}
/* Testimonials */
.test-container {
	clear:both;
	width: 960px;
	margin: 70px auto;
	min-height: 800px;
	background-color: #87c9cf;
}
.patient-image {
	width:300px;
	display: inline-block;
	
	margin-right: 60px;
	border-radius: 16px;
	min-height: 200px;
}

.testimonial {
	width: 500px;
	display: inline-block;
	min-height: 100px;
	background-color: #c8dc5b;
	margin-bottom: 40px;
	padding: 25px;
	border-radius: 16px;
	vertical-align: top;	

	p {
	font-size: 16px;
}

}





/* About Us */

.about-us {
	width: 520px;
	min-height: 300px;
	float: left;
	background: #87c9cf;	
	margin-top:50px;
	margin-left: 200px;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 16px;
	color: $primary-text-color;

}
/* Form */
.contact-form {
	width: 520px;
	min-height: 300px;
	float: left;
	background: #87c9cf;	
	margin-top: 50px;
	margin-left: 200px;
	margin-bottom: 50px;
	padding: 20px;
	border-radius: 16px;
	color: $primary-text-color;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {  
    vertical-align: top;   
    height: 5em;   
    resize: vertical;
}
.button {  
    padding-left: 90px; 
}
button {    
    margin-left: .5em;
}






